<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.module.auth.server.manager.mapper.Oauth2ClientMapper">
    <sql id="columnList">
        <!--   主键 主键  索引   -->
        id,
        <!--   客户端id      -->
        client_id,
        <!--   客户端名称      -->
        client_name,
        <!--   客户端密钥      -->
        client_secret,
        <!--   密钥过期时间      -->
        client_secret_expire,
        <!--   客户端认证方式      -->
        client_authentication_methods,
        <!--   授权类型      -->
        authorization_grant_types,
        <!--   重定向uri      -->
        redirect_uri,
        <!--   注销后重定向uri      -->
        post_logout_redirect_uri,
        <!--   作用域      -->
        scopes,
        <!--   客户端设置      -->
        client_settings,
        <!--   令牌设置      -->
        token_settings,
        <!--   备注      -->
        remark,
        <!--   useYn      -->
        use_yn,
        <!--   createUserId      -->
        create_user_id,
        <!--   createBy      -->
        create_by,
        <!--   createTime      -->
        create_time,
        <!--   updateUserId      -->
        update_user_id,
        <!--   updateBy      -->
        update_by,
        <!--   updateTime      -->
        update_time,
        <!--   deleteYn      -->
        delete_yn,
        <!--   deleteUserId      -->
        delete_user_id,
        <!--   deleteBy      -->
        delete_by,
        <!--   deleteTime      -->
        delete_time
    </sql>

    <resultMap id="commonResultMap" type="com.smart.module.auth.server.manager.model.Oauth2ClientPO">
        <!--   主键 主键  索引   -->
        <id column="id" property="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <!--   客户端id      -->
        <result column="client_id" property="clientId" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   客户端名称      -->
        <result column="client_name" property="clientName" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   客户端密钥      -->
        <result column="client_secret" property="clientSecret" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   密钥过期时间      -->
        <result column="client_secret_expire" property="clientSecretExpire" javaType="java.time.ZonedDateTime" jdbcType="DATE"/>
        <!--   客户端认证方式      -->
        <result column="client_authentication_methods" property="clientAuthenticationMethods" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   授权类型      -->
        <result column="authorization_grant_types" property="authorizationGrantTypes" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   重定向uri      -->
        <result column="redirect_uri" property="redirectUri" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   注销后重定向uri      -->
        <result column="post_logout_redirect_uri" property="postLogoutRedirectUri" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   作用域      -->
        <result column="scopes" property="scopes" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   客户端设置      -->
        <result column="client_settings" property="clientSettings" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   令牌设置      -->
        <result column="token_settings" property="tokenSettings" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   备注      -->
        <result column="remark" property="remark" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   useYn      -->
        <result column="use_yn" property="useYn" javaType="java.lang.Boolean" jdbcType="BIT"/>
        <!--   createUserId      -->
        <result column="create_user_id" property="createUserId" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <!--   createBy      -->
        <result column="create_by" property="createBy" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   createTime      -->
        <result column="create_time" property="createTime" javaType="java.time.ZonedDateTime" jdbcType="DATE"/>
        <!--   updateUserId      -->
        <result column="update_user_id" property="updateUserId" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <!--   updateBy      -->
        <result column="update_by" property="updateBy" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   updateTime      -->
        <result column="update_time" property="updateTime" javaType="java.time.ZonedDateTime" jdbcType="DATE"/>
        <!--   deleteYn      -->
        <result column="delete_yn" property="deleteYn" javaType="java.lang.Boolean" jdbcType="BIT"/>
        <!--   deleteUserId      -->
        <result column="delete_user_id" property="deleteUserId" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <!--   deleteBy      -->
        <result column="delete_by" property="deleteBy" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   deleteTime      -->
        <result column="delete_time" property="deleteTime" javaType="java.time.ZonedDateTime" jdbcType="DATE"/>
    </resultMap>
</mapper>
