<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.system.mapper.auth.SysAuthAccessSecretMapper">
    <sql id="columnList">
        <!--   id 主键  索引   -->
        id,
        <!--   序号      -->
        seq,
        <!--   Access key      -->
        access_key,
        <!--   Secret key      -->
        secret_key,
        <!--   过期时间      -->
        expire_date,
        <!--   授权IP或域名      -->
        access_ip,
        <!--   备注      -->
        remark,
        <!--   useYn      -->
        use_yn,
        <!--   deleteYn      -->
        delete_yn,
        <!--   创建人员ID      -->
        create_user_id,
        <!--   createBy      -->
        create_by,
        <!--   创建时间      -->
        create_time,
        <!--   更新人员ID      -->
        update_user_id,
        <!--   updateBy      -->
        update_by,
        <!--   更新时间      -->
        update_time,
    </sql>

    <resultMap id="commonResultMap" type="com.smart.system.model.auth.SysAuthAccessSecretPO">
        <!--   id 主键  索引   -->
        <id column="id" property="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <!--   序号      -->
        <result column="seq" property="seq" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <!--   Access key      -->
        <result column="access_key" property="accessKey" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   Secret key      -->
        <result column="secret_key" property="secretKey" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   过期时间      -->
        <result column="expire_date" property="expireDate" javaType="java.time.LocalDateTime" jdbcType="DATE"/>
        <!--   授权IP或域名      -->
        <result column="access_ip" property="accessIp" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   备注      -->
        <result column="remark" property="remark" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   useYn      -->
        <result column="use_yn" property="useYn" javaType="java.lang.Boolean" jdbcType="BIT"/>
        <!--   deleteYn      -->
        <result column="delete_yn" property="deleteYn" javaType="java.lang.Boolean" jdbcType="BIT"/>
        <!--   创建人员ID      -->
        <result column="create_user_id" property="createUserId" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <!--   createBy      -->
        <result column="create_by" property="createBy" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   创建时间      -->
        <result column="create_time" property="createTime" javaType="java.time.LocalDateTime" jdbcType="DATE"/>
        <!--   更新人员ID      -->
        <result column="update_user_id" property="updateUserId" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <!--   updateBy      -->
        <result column="update_by" property="updateBy" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   更新时间      -->
        <result column="update_time" property="updateTime" javaType="java.time.LocalDateTime" jdbcType="DATE"/>
    </resultMap>
</mapper>
