<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.system.mapper.SysParameterMapper">
    <sql id="columnList">
        <!--   id 主键  索引   -->
        id,
        <!--   参数编码   索引   -->
        code,
        <!--   参数名字      -->
        name,
        <!--   参数值      -->
        parameter,
        <!--   备注      -->
        remark,
        <!--   系统内置      -->
        build_in,
        <!--   seq      -->
        seq,
        <!--   createTime      -->
        create_time,
        <!--   createUserId      -->
        create_user_id,
        <!--   createBy      -->
        create_by,
        <!--   updateTime      -->
        update_time,
        <!--   updateUserId      -->
        update_user_id,
        <!--   updateBy      -->
        update_by,
        <!--   useYn      -->
        use_yn,
        <!--   deleteYn      -->
        delete_yn
    </sql>

    <resultMap id="commonResultMap" type="com.smart.system.model.SysParameterPO">
        <!--   id 主键  索引   -->
        <id column="id" property="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <!--   参数编码   索引   -->
        <result column="code" property="code" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   参数名字      -->
        <result column="name" property="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   参数值      -->
        <result column="parameter" property="parameter" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   备注      -->
        <result column="remark" property="remark" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   系统内置      -->
        <result column="build_in" property="buildIn" javaType="java.lang.Boolean" jdbcType="BIT"/>
        <!--   seq      -->
        <result column="seq" property="seq" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <!--   createTime      -->
        <result column="create_time" property="createTime" javaType="java.time.LocalDateTime" jdbcType="DATE"/>
        <!--   createUserId      -->
        <result column="create_user_id" property="createUserId" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <!--   createBy      -->
        <result column="create_by" property="createBy" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   updateTime      -->
        <result column="update_time" property="updateTime" javaType="java.time.LocalDateTime" jdbcType="DATE"/>
        <!--   updateUserId      -->
        <result column="update_user_id" property="updateUserId" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <!--   updateBy      -->
        <result column="update_by" property="updateBy" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   useYn      -->
        <result column="use_yn" property="useYn" javaType="java.lang.Boolean" jdbcType="BIT"/>
        <!--   deleteYn      -->
        <result column="delete_yn" property="deleteYn" javaType="java.lang.Boolean" jdbcType="BIT"/>
    </resultMap>
</mapper>
