<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.system.mapper.tenant.SysTenantPackageMapper">
    <sql id="columnList">
        <!--   id 主键  索引   -->
        id,
        <!--   产品包编码   索引   -->
        package_code,
        <!--   产品包名      -->
        package_name,
        <!--   生效时间      -->
        effect_time,
        <!--   过期时间      -->
        expire_time,
        <!--   备注      -->
        remark,
        <!--   序号      -->
        seq,
        <!--   useYn      -->
        use_yn,
        <!--   createTime      -->
        create_time,
        <!--   createUserId      -->
        create_user_id,
        <!--   createBy      -->
        create_by,
        <!--   updateTime      -->
        update_time,
        <!--   updateUserId      -->
        update_user_id,
        <!--   updateBy      -->
        update_by,
        <!--   deleteYn      -->
        delete_yn,
        <!--   deleteKey      -->
        delete_key,
        <!--   deleteTime      -->
        delete_time,
        <!--   deleteBy      -->
        delete_by,
        <!--   deleteUserId      -->
        delete_user_id
    </sql>

    <resultMap id="commonResultMap" type="com.smart.system.model.tenant.SysTenantPackagePO">
        <!--   id 主键  索引   -->
        <id column="id" property="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <!--   产品包编码   索引   -->
        <result column="package_code" property="packageCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   产品包名      -->
        <result column="package_name" property="packageName" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   生效时间      -->
        <result column="effect_time" property="effectTime" javaType="java.time.LocalDateTime" jdbcType="DATE"/>
        <!--   过期时间      -->
        <result column="expire_time" property="expireTime" javaType="java.time.LocalDateTime" jdbcType="DATE"/>
        <!--   备注      -->
        <result column="remark" property="remark" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   序号      -->
        <result column="seq" property="seq" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <!--   useYn      -->
        <result column="use_yn" property="useYn" javaType="java.lang.Boolean" jdbcType="BIT"/>
        <!--   createTime      -->
        <result column="create_time" property="createTime" javaType="java.time.LocalDateTime" jdbcType="DATE"/>
        <!--   createUserId      -->
        <result column="create_user_id" property="createUserId" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <!--   createBy      -->
        <result column="create_by" property="createBy" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   updateTime      -->
        <result column="update_time" property="updateTime" javaType="java.time.LocalDateTime" jdbcType="DATE"/>
        <!--   updateUserId      -->
        <result column="update_user_id" property="updateUserId" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <!--   updateBy      -->
        <result column="update_by" property="updateBy" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   deleteYn      -->
        <result column="delete_yn" property="deleteYn" javaType="java.lang.Boolean" jdbcType="BIT"/>
        <!--   deleteKey      -->
        <result column="delete_key" property="deleteKey" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <!--   deleteTime      -->
        <result column="delete_time" property="deleteTime" javaType="java.time.LocalDateTime" jdbcType="DATE"/>
        <!--   deleteBy      -->
        <result column="delete_by" property="deleteBy" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   deleteUserId      -->
        <result column="delete_user_id" property="deleteUserId" javaType="java.lang.Long" jdbcType="BIGINT"/>
    </resultMap>
</mapper>
