<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.module.system.mapper.microapp.SysMicroFrontendMapper">
    <sql id="columnList">
        <!--   id 主键  索引   -->
        id,
        <!--   应用编码      -->
        code,
        <!--   应用名称      -->
        name,
        <!--   应用地址      -->
        url,
        <!--   应用HTML，设置后子应用将直接读取该值，没有设置则子应用通过url请求获取      -->
        html,
        <!--   是否同步      -->
        sync,
        <!--   短路径的能力, key为短路径, value为长路径      -->
        prefix,
        <!--   是否存活      -->
        alive,
        <!--   注入给子应用的数据      -->
        props,
        <!--   是否启用Fiber      -->
        fiber,
        <!--   是否降级      -->
        degrade,
        <!--   自定义iframe属性      -->
        attrs,
        <!--   备注      -->
        remark,
        <!--   排序      -->
        seq,
        <!--   是否启用      -->
        use_yn,
        <!--   创建时间      -->
        create_time,
        <!--   创建人      -->
        create_by,
        <!--   创建人ID      -->
        create_user_id,
        <!--   更新时间      -->
        update_time,
        <!--   更新人      -->
        update_by,
        <!--   更新人ID      -->
        update_user_id,
    </sql>

    <resultMap id="commonResultMap" type="com.smart.module.system.model.micorapp.SysMicroFrontendPO">
        <!--   id 主键  索引   -->
        <id column="id" property="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <!--   应用编码      -->
        <result column="code" property="code" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   应用名称      -->
        <result column="name" property="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   应用地址      -->
        <result column="url" property="url" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   应用HTML，设置后子应用将直接读取该值，没有设置则子应用通过url请求获取      -->
        <result column="html" property="html" javaType="java.lang.String" jdbcType="LONGNVARCHAR"/>
        <!--   是否同步      -->
        <result column="sync" property="sync" javaType="java.lang.Byte" jdbcType="TINYINT"/>
        <!--   短路径的能力, key为短路径, value为长路径      -->
        <result column="prefix" property="prefix" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   是否存活      -->
        <result column="alive" property="alive" javaType="java.lang.Byte" jdbcType="TINYINT"/>
        <!--   注入给子应用的数据      -->
        <result column="props" property="props" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   是否启用Fiber      -->
        <result column="fiber" property="fiber" javaType="java.lang.Byte" jdbcType="TINYINT"/>
        <!--   是否降级      -->
        <result column="degrade" property="degrade" javaType="java.lang.Byte" jdbcType="TINYINT"/>
        <!--   自定义iframe属性      -->
        <result column="attrs" property="attrs" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   备注      -->
        <result column="remark" property="remark" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   排序      -->
        <result column="seq" property="seq" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <!--   是否启用      -->
        <result column="use_yn" property="useYn" javaType="java.lang.Byte" jdbcType="TINYINT"/>
        <!--   创建时间      -->
        <result column="create_time" property="createTime" javaType="java.time.ZonedDateTime" jdbcType="DATE"/>
        <!--   创建人      -->
        <result column="create_by" property="createBy" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   创建人ID      -->
        <result column="create_user_id" property="createUserId" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <!--   更新时间      -->
        <result column="update_time" property="updateTime" javaType="java.time.ZonedDateTime" jdbcType="DATE"/>
        <!--   更新人      -->
        <result column="update_by" property="updateBy" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   更新人ID      -->
        <result column="update_user_id" property="updateUserId" javaType="java.lang.Long" jdbcType="BIGINT"/>
    </resultMap>
</mapper>
