<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.system.mapper.SysCategoryMapper">
    <sql id="columnList">
        <!--   分类编码      -->
        category_code,
        <!--   分类名称      -->
        category_name,
        <!--   seq      -->
        seq,
        <!--   remark      -->
        remark,
        <!--   createTime      -->
        create_time,
        <!--   createBy      -->
        create_by,
        <!--   updateTime      -->
        update_time,
        <!--   updateBy      -->
        update_by
    </sql>

    <resultMap id="commonResultMap" type="com.smart.system.model.SysCategoryPO">
        <!--   分类编码      -->
        <result column="category_code" property="categoryCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   分类名称      -->
        <result column="category_name" property="categoryName" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   seq      -->
        <result column="seq" property="seq" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <!--   remark      -->
        <result column="remark" property="remark" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   createTime      -->
        <result column="create_time" property="createTime" javaType="java.time.LocalDateTime" jdbcType="DATE"/>
        <!--   createBy      -->
        <result column="create_by" property="createBy" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   updateTime      -->
        <result column="update_time" property="updateTime" javaType="java.time.LocalDateTime" jdbcType="DATE"/>
        <!--   updateBy      -->
        <result column="update_by" property="updateBy" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>
