.smart-table-search-layout {
  height: 100%;
  display: flex;
  flex-flow: column;
}
.smart-search-container {
  padding: 12px 10px 0;
  width: 100%;
  margin-bottom: 6px;
  background-color: @component-background;
}
.smart-table-container {
  padding: 0 10px 5px 10px;
  background-color: @component-background;
  flex: 1;
  min-height: 1px;
}

.smart-table-search-hidden {
  display: none;
}
