<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.system.mapper.SmartFormApiMapper">

    <select id="listTableSelect" resultMap="listTableSelectResultMap">
        select ${valueName} value, ${labelName} label
        from ${tableName}
        ${ew.customSqlSegment}
    </select>

    <resultMap id="listTableSelectResultMap" type="com.smart.system.controller.smart_form_api.vo.SmartFormTableSelectApiVO">
        <result column="label" property="label" />
        <result column="value" property="value" />
    </resultMap>
</mapper>