<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE com.smart.framework.tool.code.mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-com.smart.framework.tool.code.mapper.dtd">
<com.smart.framework.tool.code.mapper namespace="com.smart.module.system.com.smart.framework.tool.code.mapper.SysRoleFunctionMapper">

    <select id="listRoleFunction" resultType="com.smart.module.system.com.smart.framework.tool.code.model.SysRoleFunctionPO">
        SELECT A.* FROM sys_role_function A
        join sys_function B on A.function_id = B.function_id
        ${ew.customSqlSegment}
    </select>
</com.smart.framework.tool.code.mapper>
