<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.db.generator.mapper.DbCodeRuleConfigMapper">

    <!--   删除验证规则信息   -->
    <delete id="deleteByMainIdList" parameterType="com.smart.db.generator.pojo.query.RelatedTableDeleteByMainConfigQuery">
        DELETE
        FROM db_code_rule_config
        WHERE relation_id IN (
            SELECT B.ID FROM ${tableName} B WHERE B.main_id IN
                <foreach collection="mainIdList" item="mainId" separator="," open="(" close=")">
                    #{mainId}
                </foreach>
            )
    </delete>
</mapper>
