<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.message.mapper.SmartMessageTemplateMapper">
    <sql id="columnList">
        <!--   id 主键  索引   -->
        id,
        <!--   模板编码   索引   -->
        template_code,
        <!--   模板名称      -->
        template_name,
        <!--   模板内容      -->
        template_content,
        <!--   deleteYn      -->
        delete_yn,
        <!--   useYn      -->
        use_yn,
        <!--   createTime      -->
        create_time,
        <!--   createUserId      -->
        create_user_id,
        <!--   createBy      -->
        create_by,
        <!--   updateTime      -->
        update_time,
        <!--   updateUserId      -->
        update_user_id,
        <!--   updateBy      -->
        update_by,
    </sql>

    <resultMap id="commonResultMap" type="com.smart.message.model.SmartMessageTemplatePO">
        <!--   id 主键  索引   -->
        <id column="id" property="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <!--   模板编码   索引   -->
        <result column="template_code" property="templateCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   模板名称      -->
        <result column="template_name" property="templateName" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   模板内容      -->
        <result column="template_content" property="templateContent" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   deleteYn      -->
        <result column="delete_yn" property="deleteYn" javaType="java.lang.Boolean" jdbcType="BIT"/>
        <!--   useYn      -->
        <result column="use_yn" property="useYn" javaType="java.lang.Boolean" jdbcType="BIT"/>
        <!--   createTime      -->
        <result column="create_time" property="createTime" javaType="java.time.LocalDateTime" jdbcType="DATE"/>
        <!--   createUserId      -->
        <result column="create_user_id" property="createUserId" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <!--   createBy      -->
        <result column="create_by" property="createBy" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <!--   updateTime      -->
        <result column="update_time" property="updateTime" javaType="java.time.LocalDateTime" jdbcType="DATE"/>
        <!--   updateUserId      -->
        <result column="update_user_id" property="updateUserId" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <!--   updateBy      -->
        <result column="update_by" property="updateBy" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>
